.footer {
  border-top: 1px solid #ffffff17;
}

.footerInner {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #707871;
  font-size: 11px;
}

@media (max-width: 700px) {
  .footerInner {
    height: 80px;
    gap: 20px;
  }
}
